:root
{
    -favcolor: rgb(41, 22, 230);
}
h1
{
    text-align: center;
    color: var(-favcolor);
    background-color: rgb(230,22,179);
    font-size: 40pt;
}
section
{
    color: var(-favcolor);
    float: right;
}
p
{
    text-align: center;
    font-size: 12pt;
}
#mainpic
{
    border-radius: 50%;
}
div.button
{
    text-align: center;
}
img
{
    border-radius:40%;
}
